.full-spread {
  background-image: url(./login-image.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signupbox {
  color: #333333;
  background-color: #f9f9f9f5;
  width: 15rem;
  font-family: 'Bitter', serif;
}

.signupbox h5{
  line-height: 20px;
  font-size: 0.9rem;
}
.signupbox a{
  width: 12rem;
  font-size: 0.8rem;
}
.signupbox hr{
  background-color: #333333;
}