.hero-image {
  background-image: url("truckmain.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.maintext {
  background-color: rgba(rgb(131, 131, 131), 0.5) !important;
}

.hero-image .content{
  color:#fff;
}

.hero-image .content h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
}


.hero-image .content h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}