.hero-image {
  background-image: url("truckmain.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.maintext {
  background-color: white;
  opacity: 0.8;
}
